@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>
<dl>
    @foreach (var item in Model.Posts)
    {
        <dt><a asp-page="Post" asp-route-postURL="@item.URL" target="_blank">@item.Title</a></dt>
        <dd>@item.Summary</dd>
        <dd style="color:gray; font-size:small;">@item.UserNickName Posted @item.CreateAt</dd>
    }
</dl>