@page "Blog/Post/{p}"

@model PostModel
@{
    ViewData["Title"] = "Post";
}
<div>
    <h1 class="postTitle">@this.Model.Post.Title</h1>
    @switch (this.Model.Post.EditorType)
    {
        case EditorType.SourceCode:
            <div class="postContent">
                @*@Html.Raw(this.Model.Post.Content)*@
                <iframe id="iframeView" style="width: 100%; border: 1px solid #eaeaea;" height="100" frameborder="0" scrolling="auto" onload="setIframeHeight(this);" srcdoc="@this.Model.Post.Content"> </iframe>
            </div>
            break;
        case EditorType.RichText:
            <div class="postContent ck-content">@Html.Raw(this.Model.Post.Content)</div>
            break;
        case EditorType.Markdown:
            @*<div class="postContent">@this.Model.Post.Content</div>*@
            <div id="markdown-view" style="padding:inherit; width:inherit;">
                <!-- Server-side output Markdown text -->
                <textarea style="display:none;">@this.Model.Post.Content</textarea>
            </div>
            break;
        default:
            break;
    }
    <hr />
    <div class="blogComments">
        <div class="panel">
            <div class="panel-heading" style="padding: 20px 0 5px; border-bottom: 1px solid #ddd;">Comments (<span id="commentCount"></span>)</div>
            <div class="panel-body">
                <div class="panelList" id="postComments">
                    <ul></ul>
                </div>
                <div class="panelCommentForm" style="margin-top:5px;">
                    <form id="formComment" asp-page="AddComment" asp-route-PostID="@this.Model.Post.PostID" asp-route-ContentID="@this.Model.Post.ContentID" method="post" autocomplete="off" novalidate="novalidate">

                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <div class="form-group">
                                <label for="userEmail" class="control-label">Email</label>
                                <input type="text" id="userEmail" name="userEmail" class="form-control" />
                            </div>
                        }
                        <div class="form-group">
                            <label for="userName" class="control-label">your name</label>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <input type="text" disabled="disabled" value="@this.User.Identity.Name" class="form-control" />
                            }
                            else
                            {
                                <input type="text" id="userName" name="userName" class="form-control" />
                            }
                        </div>
                        <div class="form-group" style="display:flex;">
                            <textarea id="comment" name="comment" class="form-control"
                                      style="height:100px;padding:10px; width: 100%; margin: 5px; resize:none;"></textarea>
                        </div>
                        <div class="form-group" style="display:flex;justify-content:flex-end;">
                            <input id="parentCommentID" name="parentCommentID" type="hidden" value="@Guid.Empty" />
                            <button type="submit" class="btn btn-default" style="margin-right:5px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @switch (this.Model.Post.EditorType)
    {
        case EditorType.SourceCode:
            break;
        case EditorType.RichText:
            <environment include="Development">
                <link rel="stylesheet" href="~/css/ckeditor5.css" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="~/css/ckeditor5.min.css" asp-append-version="true" />
            </environment>
            break;
        case EditorType.Markdown:
            <environment include="Development">
                <link rel="stylesheet" href="~/lib/editor.md-1.5.0/css/editormd.preview.css" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="~/lib/editor.md-1.5.0/css/editormd.preview.min.css" asp-append-version="true" />
            </environment>
            break;
        default:
            break;
    }
}

@section Scripts {
    @switch (this.Model.Post.EditorType)
    {
        case EditorType.SourceCode:
            <script type="text/javascript">
                function setIframeHeight(iframe) {
                    if (iframe) {
                        var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                        if (iframeWin.document.body) {
                            var height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                            iframe.height = height > 1500 ? 1500 : height;
                            //iframe.height = height;
                        }
                    }
                };
            </script>
            break;
        case EditorType.RichText:
            break;
        case EditorType.Markdown:
            <environment include="Development">
                <script src="~/lib/editor.md-1.5.0/lib/marked.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/prettify.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/raphael.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/underscore.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/sequence-diagram.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/flowchart.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/lib/jquery.flowchart.min.js" charset="utf-8"></script>
                <script src="~/lib/editor.md-1.5.0/editormd.min.js" charset="utf-8"></script>
            </environment>
            <environment exclude="Development">
                <script src="~/lib/editor.md-1.5.0/lib/marked.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/prettify.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/raphael.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/underscore.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/sequence-diagram.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/flowchart.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/lib/jquery.flowchart.min.js" charset="utf-8" asp-append-version="true"></script>
                <script src="~/lib/editor.md-1.5.0/editormd.min.js" charset="utf-8" asp-append-version="true"></script>
            </environment>
            <script type="text/javascript">
                var testView = editormd.markdownToHTML("markdown-view", {
                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    //toc             : false,
                    tocm: true,    // Using [TOCM]
                    //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                    //gfm             : false,
                    //tocDropdown     : true,
                    markdownSourceCode: true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                    // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                    // htmlDecode : true,  // Enable / disable HTML tag encode.
                    // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                });

                //console.log("返回一个 jQuery 实例 =>", testView);

                // 获取Markdown源码
                //console.log(testView.getMarkdown());
            </script>
            break;
        default:
            break;
    }

    <script src="~/lib/jquery.form/jquery.form.min.js" charset="utf-8" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            $("#formComment").ajaxForm(function (data, status) {
                if (status != 'success') {
                    //has some error
                    return;
                }
                $("#postComments").append(data);
                $("#commentCount").text($("#postComments div[class='list-group-item']").length);
                $("#comment").val("");
                //$("#formComment").ajaxSubmit();
            });
            //load comments
            $.get("GetComments/@this.Model.Post.PostID/@this.Model.Post.ContentID", function (data) {
                $("#postComments").html(data);
                $("#commentCount").text($("#postComments div[class='list-group-item']").length);
            });
        });
        function replayComment(commentID) {
            $("#parentCommentID").val(commentID);
            document.getElementById("comment").focus();
        }
    </script>
}