@page
@model PostModel
@{
    ViewData["Title"] = "Post";
}
<h2>@ViewData["Title"]</h2>
<h3>@this.Model.Post.Title</h3>
@switch (this.Model.Post.EditorType)
{
    case EditorType.Text:
        <div id="postContent">@this.Model.Post.Content</div>
        break;
    case EditorType.Html:
        <div id="postContent">@Html.Raw(this.Model.Post.Content)</div>
        break;
    case EditorType.Markdown:
        <div id="postContent">@this.Model.Post.Content</div>
        break;
    default:
        break;
}


@section Styles {
    @switch (this.Model.Post.EditorType)
    {
        case EditorType.Text:
            break;
        case EditorType.Html:
            break;
        case EditorType.Markdown:
            <link rel="stylesheet" href="~/thinker-md/stylesheets/thinker-md.user.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/stylesheets/thinker-md.vendor.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/nature.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/object.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/people.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/place.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/Sysmbols.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/thinker-md/emoji/twemoji.css" asp-append-version="true" />
            <style type="text/css">
                .body-content {
                    margin-top: 20px;
                }
            </style>
            break;
        default:
            break;
    }
}

@section Scripts {
    @switch (this.Model.Post.EditorType)
    {
        case EditorType.Text:
            break;
        case EditorType.Html:
            break;
        case EditorType.Markdown:
            <script src="~/thinker-md/javascripts/thinker-md.vendor.min.js" charset="utf-8" asp-append-version="true"></script>
            <script type="text/javascript">
                $("#postContent").html(marked($("#postContent").html()));
            </script>
            break;
        default:
            break;
    }
}