@page
@model EditModel
@{
    ViewData["Title"] = "Edit";
}
<h2>@ViewData["Title"]</h2>
<article>
    <form method="post" autocomplete="off" novalidate="novalidate">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group" style="display:flex; flex-direction:column;">
            <label asp-for="Input.Title" style="align-items:stretch;"></label>
            <input asp-for="Input.Title" class="form-control" style="align-items:stretch;" />
            <span asp-validation-for="Input.Title" class="text-danger" style="align-items:stretch;"></span>
        </div>
        <div class="form-group" style="display:flex; flex-direction:column;">
            @*<label asp-for="Input.Content"></label>*@
            <div id="editorTabList">
                @if (this.Model.Input.PostID.HasValue && this.Model.Input.PostID.Value != Guid.Empty)
                {
                    <a href="javascript:void(0);" class="item active">@this.Model.Input.EditorType</a>
                }
                else
                {
                    @foreach (var item in Enum.GetNames(typeof(EditorType)))
                    {
                        @if (this.Model.Input.EditorType.ToString() != item)
                        {
                            <a asp-page-handler="ChangeEditor" asp-route-editorType="@item" class="item" onclick="return changeEditorConfirm();">@item</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="item active">@this.Model.Input.EditorType</a>
                        }
                    }
                }
            </div>
            @*@if (this.Model.Input.EditorType == EditorType.Html)
                {
                    <div id="textEditor" style="margin-top: 5px;"></div>
                }*@
            <textarea id="textEditor" asp-for="Input.Content" class="form-control" style="align-items:stretch; height:350px;"></textarea>
            <span asp-validation-for="Input.Content" class="text-danger" style="align-items:stretch;"></span>
        </div>
        <div class="form-group" style="margin-top:5px;">
            <input type="hidden" asp-for="Input.PostID" />
            <input type="hidden" asp-for="Input.EditorType" />
            <button type="submit" class="btn-default">Submit</button>
        </div>
    </form>
</article>

@section Styles {
    <style type="text/css">
        #editorTabList {
            display: flex;
            padding-top: 5px;
            font-weight: bold;
        }

            #editorTabList .item {
                padding: 5px 15px;
                border-color: #32aa66 !important;
                color: #32aa66 !important;
                text-decoration: none;
            }

                #editorTabList .item:hover {
                    background-color: #eaeaea !important;
                }

            #editorTabList .active {
                background-color: transparent;
                border-bottom: 2px solid #b9b9bb;
            }
    </style>


    @switch (Model.Input.EditorType)
    {
        case EditorType.Text:
            <style type="text/css">
                #Input_Content {
                    margin-top: 5px;
                }

                .CodeMirror {
                    border: 1px solid #d1d5da;
                }
            </style>
            <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
            break;
        case EditorType.Html:
            break;
        case EditorType.Markdown:
            @*<link rel="stylesheet" href="~/thinker-md/stylesheets/thinker-md.vendor.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/nature.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/object.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/people.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/place.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/Sysmbols.css" asp-append-version="true" />
                <link rel="stylesheet" href="~/thinker-md/emoji/twemoji.css" asp-append-version="true" />*@
            <style type="text/css">
                .body-content {
                    margin-top: 20px;
                }
            </style>
            break;
        default:
            break;
    }
}

@section Scripts {
    @switch (Model.Input.EditorType)
    {
        case EditorType.Text:
            <script src="~/lib/codemirror/codemirror.min.js" asp-append-version="true"></script>
            <script src="~/lib/codemirror/addon/selection/active-line.min.js" asp-append-version="true"></script>
            <script>
                var textEditor = document.getElementById('textEditor');
                var editor = CodeMirror.fromTextArea(textEditor, {
                    styleActiveLine: true,
                    lineNumbers: true,
                    lineWrapping: true
                });
            </script>
            break;
        case EditorType.Html:
            <script src="~/lib/ckeditor5-build-classic/ckeditor.js" asp-append-version="true"></script>
            <script type="text/javascript">
                var textEditor = document.getElementById('textEditor');
                ClassicEditor.create(textEditor).then(editor => {
                    editor.model.document.on('change:data', () => {
                        console.log('The data has changed!');
                    });
                    console.log(editor);
                }).catch(error => {
                    console.error(error);
                });
            </script>
            break;
        case EditorType.Markdown:
            @*<environment>
                    <script src="~/thinker-md/javascripts/thinker-md.vendor.min.js" charset="utf-8" asp-append-version="true"></script>
                </environment>
                <script type="text/javascript">
                    $("textarea").markdown({
                        language: 'zh',
                        fullscreen: {
                            enable: true
                        },
                        resize: 'vertical',
                        localStorage: 'md',
                        imgurl: '/c/imgUpload',
                        base64url: '/c/imgUpload',
                        flowChart: true
                    });
                </script>*@
            break;
        default:
            break;
    }
    <script type="text/javascript">
        function changeEditorConfirm() {
            var currVal = $("#Input_Content").val();
            if (currVal == "<p><br></p>")
                currVal = '';
            if (currVal) {
                return confirm("change editor will lost your content, do you want continue?");
            }
        };
    </script>
}
