@page
@model IndexModel
@{
    ViewData["Title"] = "Post List";
}

@await Html.PartialAsync("Templates/_StatusMessage", Model.StatusMessage)

<ul class="list-container">
    @foreach (var item in Model.Posts)
    {
        <li class="list-item" style="display:flex; margin-bottom:10px;">
            <div class="content">
                <a class="title" asp-page="/Blog/Post" asp-route-postURL="@item.URL" target="_blank" title="@item.Title">@item.Title</a>
                <div class="summary">@item.Summary</div>
                <div class="bottom" style="color:gray; font-size:small;">
                    <span>Posted on @item.CreateAt</span>
                    <a asp-page="/Blog/Manage/Edit" asp-route-postID="@item.PostID" title="Edit">Edit</a>
                    <a asp-page-handler="DeletePost" asp-route-postID="@item.PostID" title="Delete">Delete</a>
                </div>
            </div>
            @if (item.CreateAt.Minute % 2 == 0)
            {
                <a class="thumb-image" style="margin-left:5px;" asp-page="/Blog/Post" asp-route-postURL="@item.URL" target="_blank">
                    <img src="~/images/banner1.svg" style="width:auto; height: 100%;" />
                </a>
            }
        </li>
    }
</ul>